---
import { Image } from "astro:assets";
import type { Media } from "../../payload-types";

interface Props {
  img: Media | string;
  name: string;
  roles: {
    role?: string | null | undefined;
    id?: string | null | undefined;
  }[];
  bio: string;
  id: string;
}

const { img, name, roles, bio, id } = Astro.props;
---

<bio-card
  data-id={id}
  class="mx-auto flex w-80 flex-col justify-center border-4 border-red bg-red-900 text-center pb-6"
>
  <div class="relative">
    {
      typeof img !== "string" ? (
        <Image
          src={img.sizes!.card!.url!}
          alt={img.alt}
          class="w-full h-auto object-cover"
          width={img.sizes!.card!.width!}
          height={img.sizes!.card!.height!}
        />
      ) : (
        <div>Error fetching image</div>
      )
    }
    <div
      class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-black/60 to-transparent p-6 text-white"
    >
      <div class="text-2xl font-extrabold text-white shadow-lg">
        {name}
      </div>
      <div
        class="flex flex-col items-center justify-center text-lg font-semibold mt-2 shadow-md"
      >
        {
          roles.map((el) => (
            <div class="bg-white/10 p-1 px-3 rounded-md z-10">{el.role}</div>
          ))
        }
      </div>
    </div>
    <div
      class="absolute bottom-0 left-0 w-full h-24 bg-gradient-to-t from-red-900 to-transparent"
    >
    </div>
    <!-- Fade effect -->
  </div>
  <button
    id={`bioButton-${id}`}
    class="secondary-button text-white bg-yellow-600 px-4 py-2 rounded-md transition-all duration-300 hover:bg-yellow-500 focus:bg-yellow-700 focus:outline-none focus:ring focus:ring-yellow-300"
  >
    <span class="button-text">Show Bio</span>
  </button>
  <div
    id={`bio-${id}`}
    set:html={bio}
    class="hidden transition-all duration-500 ease-in-out max-h-0 opacity-0 text-justify px-4"
  />
</bio-card>

<script>
  class BioCard extends HTMLElement {
    connectedCallback() {
      const bioElement: HTMLElement = document.querySelector(
        `#bio-${this.dataset.id}`,
      )!;
      const bioButton = document.querySelector(
        `#bioButton-${this.dataset.id}`,
      )!;
      const buttonText = bioButton.querySelector(".button-text")!;

      bioButton?.addEventListener("click", () => {
        if (bioElement?.classList.contains("hidden")) {
          bioElement.classList.remove("hidden");
          bioElement.style.maxHeight = `${bioElement.scrollHeight}px`;
          setTimeout(() => {
            bioElement.style.opacity = "1";
            buttonText.innerHTML = "Hide Bio";
          }, 10);
        } else {
          bioElement.style.opacity = "0";
          setTimeout(() => {
            bioElement.style.maxHeight = "0";
            buttonText.innerHTML = "Show Bio";
            setTimeout(() => {
              bioElement.classList.add("hidden");
            }, 500);
          }, 500);
        }
      });
    }
  }

  customElements.define("bio-card", BioCard);
</script>

<style>
  .hidden {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
  }
  .visible {
    height: auto;
    transition: height 0.5s ease-in-out;
  }
</style>
